/* Global */

body {
  background-color: #313739;
}

img {
  max-width:100%;
}

.bg-iha-secondary {
  background-color: #313739;
}

.text-iha-primary {
  color: #9ACA41;
}

.text-iha-secondary {
  color: #313739;
}

.error {
  background-color: #FFCCCC;
}

div#title {
  margin: 20px auto;
}

div.header {
  margin-bottom: 10px;
}

.link {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: 2px solid #E7E7E7;
  background-color: white;
  color: black;
}

.link:hover {
  background-color: #9ACA41;
}

/* Home page */

button#submitReferral {
  margin-top: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: 2px solid #E7E7E7;
  background-color: white;
  color: black;
  max-width:100%;
  white-space:normal;
}

button#submitReferral:hover {
  background-color: #9ACA41;
}

/* Admin Portal */

/* Admin Portal login */

.nav-tabs li a, .nav-tabs li a:hover {
  background-color: lightgray;
  border: none;
}

.nav-tabs li.active a, .nav-tabs li.active a:hover {
  background-color: #9ACA41;
}

div.tab-pane {
  padding:10px;
}

/* Admin Portal referrals */

div#referrals {
  margin-top: 30px;
}

button.action {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: 2px solid #9ACA41;
  background-color: #9ACA41;
  color: black;
}

button.action:hover {
  background-color: white;
}

div.panel-heading.referral {
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

div.panel-heading.referral:hover {
  background-color: #9ACA41;
}
