<template name="adminPortal">
  <div class="container">
    <div id="title" class="row">
      <div class="col-xs-12">
        {{#if currentUser}}
          <button id="logout" class="btn btn-lg link pull-right" sty>Logout</button>
        {{/if}}
      </div>
      <div class="col-xs-12 col-sm-8">
        <img src="/iha_opaque.png" style="max-width:100%;">
      </div>
    </div>
    {{#if currentUser}}
      {{>listReferrals}}
    {{else}}
      {{>userNotLoggedIn}}
    {{/if}}
  </div>
</template>

<template name="listReferrals">
  {{#if nonZeroReferrals}}
  <div class="row text-center">
    <button id="expandAll" class="btn action" type="button">Expand All</button>
    <button id="collapseAll" class="btn action" type="button">Collapse All</button>
  </div>
  <div class="panel-group" id="referrals">
    {{#each referral in referrals}}
    <div class="panel panel-default">
      <div class="panel-heading referral" data-toggle="collapse" data-target="#referral-{{@index}}">
        <h1 class="panel-title">Referral #{{humanIndex @index}} - Created at: {{createdAtString referral.createdAt}}</h1>
      </div>
      <div id="referral-{{@index}}" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="col-xs-12 col-sm-6">
              <h3>Patient Information</h3>
              <ul class="list-group">
                <li class="list-group-item">Name: {{patientName referral.firstName referral.lastName}}</li>
                <li class="list-group-item">Phone Number: {{humanPhoneNumber referral.phoneNumber}}</li>
                <li class="list-group-item">Discharge Date: {{patientDischargeDate referral.dischargeDate}}</li>
                <li class="list-group-item">Current Location: {{patientLocation referral.location}}</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h3>Referrer Information</h3>
              <ul class="list-group">
                <li class="list-group-item">Full Name: {{referrerFullName referral.referralName}}</li>
                <li class="list-group-item">Organization Name: {{referrerOrg referral.referralOrg}}</li>
                <li class="list-group-item">Phone Number: {{humanPhoneNumber referral.referralPhoneNumber}}</li>
                <li class="list-group-item">Created at: {{createdAtString referral.createdAt}}</li>
              </ul>
            </div>
            <div class="col-xs-12">
              <button id="{{referral._id}}" class="btn btn-danger removeReferral" type="button">Remove Referral</button>
            </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
    <h2 class="text-center text-iha-primary">There are currently 0 referrals</h2>
  {{/if}}
</template>

<template name="userNotLoggedIn">
  <div class="row header">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="panel">
        <div class="tabpanel">
          <ul role="tablist" class="nav nav-tabs nav-justified">
              <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
              <li><a href="#signup" data-toggle="tab">Sign Up</a></li>
          </ul>
          <div class="tab-content">
            <div id="login" class="tab-pane active">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control login" id="email">
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control login" id="password">
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-success" id="login">Login</button>
              </div>
            </div>
            <div id="signup" class="tab-pane">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control signup" id="email">
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control signup" id="password">
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-success" id="signup">Sign Up</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
