<template name="home">
  <div class="container">
    <div id="title" class="row">
      <div class="col-xs-12 col-sm-8">
        <img src="/iha_opaque.png">
      </div>
    </div>
    {{>createReferral}}
  </div>
</template>

<template name="createReferral">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Request House Call</h4>
    </div>
    <div class="panel-body">
      <p><i class="fa fa-asterisk text-iha-primary"></i> = field is required</p>
      <form>
        <h4>Patient Information</h4>
        <div class="row">
          <div class="form-group col-xs-12 col-sm-4">
            <label for="firstName">First Name <i class="fa fa-asterisk text-iha-primary"></i></label>
            <input id="firstName" type="text" class="form-control referralData" value="" />
          </div>
          <div class="form-group col-xs-12 col-sm-4">
            <label for="lastName">Last Name <i class="fa fa-asterisk text-iha-primary"></i></label>
            <input id="lastName" type="text" class="form-control referralData" value="" />
          </div>
          <div class="form-group col-xs-12 col-sm-4">
            <label for="phoneNumber">Phone Number <i class="fa fa-asterisk text-iha-primary"></i></label>
            <input id="phoneNumber" type="text" class="form-control referralData" value="" />
            <small class="form-text text-muted">Enter the 10 digit phone number with no dashes, i.e. 6195551234</small>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12 col-sm-4">
            <label for="dischargeDate">Estimated Date of Discharge</label>
            <div class="input-group date" id="dischargeDatepicker">
              <input id="dischargeDate" type="text" class="form-control referralData" value="" />
              <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
          </div>
          <div class="form-group col-xs-12 col-sm-4">
            <label for="location">Patient's Current Location</label>
            <input id="location" type="text" class="form-control referralData" value="" />
          </div>
        </div>
        <h4>Referring Individual Information</h4>
        <div class="row">
          <div class="form-group col-xs-12 col-sm-3">
            <label for="referralName">Your Full Name <i class="fa fa-asterisk text-iha-primary"></i></label>
            <input id="referralName" type="text" class="form-control referralData" value="" />
          </div>
          <div class="form-group col-xs-12 col-sm-3">
            <label for="referralOrg">Your Organization</label>
            <input id="referralOrg" type="text" class="form-control referralData" value="" />
          </div>
          <div class="form-group col-xs-12 col-sm-3">
            <label for="referralPhoneNumber">Your Phone Number <i class="fa fa-asterisk text-iha-primary"></i></label>
            <input id="referralPhoneNumber" type="text" class="form-control referralData" value="" />
            <small class="form-text text-muted">Enter your 10 digit phone number with no dashes, i.e. 6195551234</small>
          </div>
          <div class="form-group col-xs-12 col-sm-3">
            <div class="text-center">
              <button id="submitReferral" class="btn btn-lg" type="button">Submit Referral <i class="fa fa-user-plus"></i></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
