<template name="mobile">
  <div class="container">
    <div id="title" class="row">
      <div class="col-xs-12 col-sm-8">
        <img src="/iha_opaque.png">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-0 col-xs-12 col-sm-offset-4 col-sm-4">
        <div id="acuteCare" class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Urgent Care Hotline</h4>
          </div>
          <div class="panel-body text-center">
            <h4>Available 24 hours a day, 7 days a week</h4>
            <h1><a href="tel:16197385566" class="text-iha-primary">619-738-5570</a></h1>
            <h5>(for patients enrolled with IHA)</h5>
          </div>
        </div>
      </div>
    </div>
    {{>createReferral}}
  </div>
</template>
